includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Access to an undefined property.*\:\:\$pivot#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\Pivot#'

#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
